body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}
header{
    min-height: 350px;
    position: relative;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-image: url(../assets/banner.jpeg);
    background-size: cover;
    background-position: center;
}
header>*{
    z-index: 1;
}
header::after{
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.7);
}
.profile-image{
    width: 100px;
    height: 100px;
    background-color:white;
    border-radius:50%;
    background-image: url(../assets/profile.png);
    background-size: cover;
}
.profile-name{
    font-size:3rem;
    font-weight:bold;
}
.subtext{
    margin-top:8px;
}
.main{
    /* background-color: yellow; */
    /* height: ; */
    margin-top:32px;
    display: flex;
    justify-content: center;
}
.main-container{
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding-left: 16px;
    padding-right:16px;
}

.post{
    /* width: 100%; */
    display: flex;
    border: 1px solid #eaecee;
    border-radius: 10px;
    min-height: 200px;
    cursor: pointer;
    /* position: absolute; */
    transition: all 0.25s ease;
    overflow: hidden;
}
.post:hover{
    transform: translate3d(0px, -5px, 0px);
    box-shadow: 0px 2rem 5rem 0px rgba(0, 0, 0, 0.1)

}
.post-image{
    flex-basis: 40%;
    background-image: url(../assets/blog1img.jpg);
    background-size: cover;
    background-position: center ;
}
.post-content{
    flex-basis:60%;
    padding: 24px;
}
.post-date{
    font-size: 12px;
    color: #5a775e;
}
.post-title{
    margin-top: 16px;
    font-size:1.5rem;
    font-weight:600;
    color: #333;
}
.post-title>h4{
    margin:0;
}
.post-text{
    margin-top:4px;
    color: #495057;
    font-weight: 400;
    line-height: 1.4;
    max-height:65px;
    overflow: hidden;
}
.add-post{
    position: fixed;
    cursor: pointer;
    /* margin-left: 80%; */
    content :"";
    height: 3rem;
    width: 3rem;
    bottom:30px;
    right: 30px;
    background-color: #004180;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .9s ease-in-out;
}
.add-post:hover{
    background-color: #002346;
    transform: rotate(360deg);
}
.add-post a{
    text-decoration:none;
    color: #fff;
    font-weight:600;
    font-size: 24px;
}
footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 14px;
}

.navigation a{
    text-decoration: none;
    color :#004186;
    border: 1px solid #004186;
    border-radius: 5px;
    padding:5px 8px;
}
